@import "fonts.css";

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
}

.inner {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
}

h1{
  color:var(--main_black);
  font-family: var(--header_font);
  font-size: 1rem;
  text-transform: uppercase;
}