@import "fonts.css";

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  height: inherit;
}

.inner {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
	height: inherit;
}
